<!-- chat/templates/chat/index.html -->
{% extends "chat/base.html" %}
{% block content %}

        <a href="{% url 'loginout' %}">Выйти</a>
        <div>
            {% csrf_token %}
            <textarea id="message" name="message" placeholder="Введите текст"></textarea>
            <input hidden id="session" name="session" value="{{session_id}}">
            <input hidden id="room_name" name="roomname" value="{{room_name}}">
            <button type="button" onclick="enterRoom()">Войти</button>
        </div>
        <!--<a href="/chat/{{room_name}}">Войти в чат</a>-->
        <p>
        <p> Оцените качество ответа на завершенные сеансы</p>
            {% for message in messages %}
                {{message.dateview}} <br>
                {{message.messageview}}<br>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <input hidden id="message_1" name="message_1" value="{{message.id}}">
            <button type="submit" class="btn.btn-primary">Добавить</button>
            </form>
            {% endfor %}


<script>
    function enterRoom () {
        const number = document.getElementById('room_name').value;
        const session = document.getElementById('session').value;
        const message = document.getElementById('message').value;
        const csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
        let data = {
            'number': number,
            'session': session,
            'message': message
        };
        console.log(data);
        fetch("/api/number_create/", {
            method: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfmiddlewaretoken
            },

              //make sure to serialize your JSON body
             body: JSON.stringify(data)
            })
            .then( (response) => {
                console.log(response);
                window.location.href="/chat/{{room_name}}";
               //do something awesome that makes the world a better place
            });
    }
</script>

{% endblock content %}
