<!-- chat/templates/chat/index.html -->
{% extends "chat/base.html" %}
{% block content %}

        <div>
            {% csrf_token %}
            <textarea id="message" name="message" placeholder="Введите текст"></textarea>
            <input hidden id="session" name="session" value="{{session_id}}">
            <input hidden id="room_name" name="roomname" value="{{room_name}}">
            <button type="button" onclick="enterRoom()">Войти</button>
        </div>
        <!--<a href="/chat/{{room_name}}">Войти в чат</a>-->
        <p>
        <p> Оцените качество ответа на завершенные сеансы</p>
            {% for message in messages %}
                {{message.dateview}} <br>
                {{message.messageview}}<br>

            <form action="" method="post" name="rating" id="add_form">
                {% csrf_token %}
                <input type="hidden" value="{{message}}" name="message">
                <input type="hidden" value="{{number}}" name="number">
                <span class="rating">
                    {% for k, v in star_form.fields.star.choices %}
                        <input id="rating{{ v }}" type="radio" name="star"
                               value="{{ k }}">
                        <label for="rating{{v}}">{{k}}</label>
                    {% endfor %}
                    {{ comment_form }}

<!--                    {% for i in star_form %}-->
<!--                        {{i}}-->
<!--                    {% endfor %}-->
                    <button type="button" onclick="add_rating">Войти</button>




                </span>
                <span class="editContent"></span>
        </form>
            {% endfor %}


<script>
    function enterRoom () {
        const number = document.getElementById('room_name').value;
        const session = document.getElementById('session').value;
        const message = document.getElementById('message').value;
        const csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
        let data = {
            'number': number,
            'session': session,
            'message': message
        };
        console.log(data);
        fetch("/api/number_create/", {
            method: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfmiddlewaretoken
            },

              //make sure to serialize your JSON body
             body: JSON.stringify(data)
            })
            .then( (response) => {
                console.log(response);
                window.location.href="/chat/{{room_name}}";
               //do something awesome that makes the world a better place
            });
    }
</script>

{% endblock content %}
